<main class="page__main">
  <form action="buscar" class="form js_form">
    <input type="text" class="text js_input" />
    <button type="submit" class="submit js_submitBtn">Buscar</button>
    <button type="button" class="js_logbtn">LOG</button>
    <button type="reset" class="reset">Reset</button>
  </form>
  <div class="subtittle">
    <section class="favourites-section">
      <h2>SERIES FAVORITAS</h2>
      <ul class="js_favouritesList"></ul>
    </section>
    <section class="results-section">
      <h2>RESULTADOS</h2>
      <ul class="js_seriesList"></ul>
    </section>
  </div>
</main>
